PyPDF2
alembic
bs4
flask
flask_cors
flask_migrate
flask_restful
flask_script
flask_sqlalchemy
goose3
gunicorn
importlib
jinja2
jwt
newspaper3k
nltk
numpy
pytest
rank_bm25
sentence_transformers
six
sqlalchemy
torch
werkzeug
